{% extends "base.html" %}

{% block titulo %} Inicio {% endblock titulo %}

{% block body %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Bienvenidos al Sistema</h1>
      <p class="col-md-8 fs-4">Este trabajo practico fue realizado con Python y Django. Para la asignatura de Logica y Estructura de datos</p>
      <a class="btn btn-primary btn-lg" href="/" type="button">Ir al Sistema</a>
    </div>
  </div>
{% endblock body %}